@import "tailwindcss";

:root {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
}

body {
  margin: 0;
  background-color: #ffffff;
  color: #0f172a; /* Slate 900 - Dark Blue/Navy */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Minimalist Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #f1f5f9;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e2e8f0;
}
